<section class="select-word">
  <p class="select-word__title-main">Выбери правильный перевод</p>
  <p class="select-word__check-word">{{checkWord}}</p>
  <div class="select-word__btn-sound"></div>
  <ul class="select-word__pick-list">
    <li class="select-word__pick-word">
      заходите заходите заходите же
    </li>
    <li class="select-word__pick-word">
      добро пожаловать
    </li>
    <li class="select-word__pick-word">
      проходите пожалуйста
    </li>
    <li class="select-word__pick-word">
      как дела
    </li>
  </ul>
</section>
