<section class="selection">
  <p class="selection__title-main">Набери озвученное слово, выбирая буквы в правильном порядке</p>
  <ul class="selection__checklist">
    <li *ngFor="let letter of arrayOfLetters"
        [ngClass]="{
            'selection__check-letter': true,
            'selection-shown': letter.shown
        }">
      {{letter.value}}
    </li>
  </ul>
  <div class="selection__btn-sound"></div>
  <ul class="selection__pick-list">
    <li *ngFor="let letter of arrayOfPickLetters"
        [@errorState]="letter.error"
        [ngClass]="{
            'selection__pick-word': true,
            'selection-wrong': letter.error}"
        [style.display]="letter.shown ? 'block' : 'none'"
        (click)="onPickLetterClick(letter)">
      {{letter.value}}
    </li>
  </ul>
</section>
