<aside class="nav-bar">
  <section class="nav-bar__part">
    <div class="nav-bar__btn  active">
      <img class="nav-bar__btn-image"
           src="http://res.cloudinary.com/dq2s2ibrg/image/upload/v1501699500/2_Home_grey_vortpz.png">
      <p class="nav-bar__btn-text">Главная</p>
    </div>
    <div class="nav-bar__btn">
      <img class="nav-bar__btn-image"
           src="http://res.cloudinary.com/dq2s2ibrg/image/upload/v1501699084/dictionary_grey_ejnhaz.png">
      <p class="nav-bar__btn-text">Словарь</p>
    </div>
  </section>
  <section class="nav-bar__part">
    <div class="nav-bar__btn">
      <img class="nav-bar__btn-image"
           src="http://res.cloudinary.com/dq2s2ibrg/image/upload/v1501696382/account-image_aspxnf.png">
      <p class="nav-bar__btn-text">Личный кабинет</p>
    </div>
  </section>
</aside>
